
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly History Page</title>
    <link rel="stylesheet" href="history-screen.css">
    <script src="image-2"></script>

</head>
<body>

  <form action="history-screen" method="post"></form>

    <div class="style screen-2">
    
<h1>This is your monthly history page</h1>

</div>



<div class="myChart" >
  <canvas id="myChart"></canvas>
</div>
 
 </form>



</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // === include 'setup' then 'config' above ===

  const labels = [
  'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
];
const data = {
  labels: labels, 
  datasets: [{
    label: 'Monthly water usage history',
    data: [7100, 7000, 6500, 7400, 7000, 6000, 6900, 7000, 7300, 7200, 7250, 7500]
    /*data: [3, 6, 9, 12, 15, 18, 24],*/
    backgroundColor: ['rgb(255, 99, 132)', 
                      'rgb(160, 20, 113)',
                      'rgb(46, 20, 160)',
                      'rgb(36, 160, 20)',
                      'rgb(20, 127, 160)',
                      'rgb(160, 20, 20)',
                      'rgb(195, 207, 22)'

    
  ]
    
  }]
};

const config = {
  type: 'bar',
  data: data,
  options: {}
};

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

<script src="history-screen.js"></script>

</html>