

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leakage detection page</title>
    <link rel="stylesheet" href="leak-screen.css">
</head>
<body>
    
<form action="leak-screen" method="post">

    <div class="style screen-3">
    
<h1>Water usage alert page</h1>


</div>

<button class="style dayBtn">Daily</button>      


</form>

<form action="weekly-usage-screen" method="post">
    <button class=" style weekBtn">Week</button>
</form>

<form action="month-usage-screen" method="post">
<button class="style monthBtn">Month</button>
</form>

<form action="history-screen" method="post">
<button class="style historyBtn">History</button>
</form>

<form action="alert-screen" method="post">
<button class="style alertBtn">Alert</button>
</form>







</body>

<script src="leak-screen.js"></script>
</html>