body {

    background-color: white;
    /*border: 5px solid black;*/
    margin: 80px;
}

.style {
    font-size: large;
    color: rgb(160, 20, 113);
    margin: 5px auto;
    font-style: oblique;
}


.usage {
    padding: 1em;
    background-color: black;
    color: whitesmoke;
    border-bottom: 1px solid grey;
    width: 3em;
}

.message {
    background-color: black;
    color: whitesmoke;

}

.wasted {
    color: red;
    
    
}

.saved {
    color: greenyellow;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    background-color: lightblue;
    padding: 1em;
}

.menu li:hover {
    background-color: aquamarine;
}