

body {
    
    background-color: white;
    /*border: 5px solid black;*/
    margin: 80px;
}

.style {
    font-size: large;
    color: rgb(160, 20, 113);
    margin: 5px auto;
    font-style: oblique;
  
    
    
}